/* This css file is included by being imported in index.js */

body {
    width: 100%
}

.content {
    text-align: center;
}

table {
    border: 1px solid #ccc;
    margin: auto;
    padding: 0;
    width: 90%;
    table-layout: fixed;
  }

  table caption {
    margin: .5em;
  }

  table tr {
    background-color: #f8f8f8;
    padding: .3em;
  }

  table th,
  table td {
    text-align: center;
    padding: .3em;
  }

  table th {
    letter-spacing: .1em;
  }
  table td {
    font-size: .8em;
  }

  @media screen and (max-width: 800px) {
    table {
      border: 0;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }

    table td, th {
      border-bottom: 1px solid #ddd;
      display: block;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
